<div class="container">
  <div class="row">
    <div class="col-2">
      <div>
        Filter by:
        <select class="browser-default custom-select" (change)="userFilterChange($event.target.value)">
          <option value="Name">Name</option>
          <option value="City">City</option>
        </select>
      </div>
      <br />
      <div *ngFor="let client of clients">
        <div>
          <button class="btn btn-primary" (click)="viewClientTasks(client.id)">
            {{client.firstName}} {{client.lastName}}
          </button>
        </div>
        <div>
          {{client.address}}
        </div>
        <div *ngFor="let p of client.phone.split(';')">
          {{p}}
        </div>
        <br />
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="isAddingTask">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input class="form-control" [(ngModel)]="task.name" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <input class="form-control" [(ngModel)]="task.description" />
        </div>
        <!--<div>
      start time
    </div>
    <input [(ngModel)]="task.startTime" />
    <div>
      end time
    </div>
    <input [(ngModel)]="task.endTime" />-->
        <div>
          <button class="btn btn-warning" (click)="addTask()">Add</button>
        </div>
      </div>
      <div>
        <button class="btn btn-dark mt-10" (click)="showTaskAdding()">Add a Task</button>
      </div>
      <div class="mt-20" *ngFor="let task of tasks">
        <div>
          <span class="badge badge-secondary size-16">{{task.name}}</span>
        </div>
        <div>
          {{task.description}}
        </div>
        <!--<div>
          {{task.startTime}}
        </div>
        <div>
          {{task.endTime}}
        </div>-->
        <div class="mt-10">
          <button class="btn btn-warning mr-10" (click)="editTask(task.id)" routerLink="edit-task">Edit</button>
          <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
